<template data-content-type="message-list-template">
  <li class="cursor-pointer border-bottom padding-top-bottom-10">
    <div class="row">
      <div class="flex-70" data-content-type="message-senders">
      </div>

      <time class="flex-30 align-right color-gray font-size-0_9" data-content-type="message-sent-at">
      </time>
    </div>

    <div data-content-type="message-subject">
    </div>
  </li>
</template>
