<!DOCTYPE html>
<html>
  <head>
    <title>MailGrabber</title>
    <link rel="stylesheet" href="<%= root_path %>/stylesheets/application.css" type="text/css" charset="utf-8">
  </head>
  <body>
    <div id="container">
      <h1>Hello World!</h1>
      <%= @all_message %>
    </div>
  </body>
</html>
